<?xml version='1.0' encoding='utf-8'?>
<widget id="io.bridgeprotocol.bridgepassport" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bridge Passport</name>
    <description>
        App to allow users to create, manage, and use their Bridge Passport on the Bridge Protocol Network
    </description>
    <author email="dev@bridgeprotocol.io" href="https://www.bridgeprotocol.io">
        Bridge Protocol Corporation
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="/res/icon/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="/res/icon/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="/res/icon/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="/res/icon/android/icon-96-xhdpi.png" />
        <icon density="xxhdpi" src="/res/icon/android/icon-144-xxhdpi.png" />
        <icon density="xxxhdpi" src="/res/icon/android/icon-192-xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="res/icon/ios/icon-20.png" width="20" height="20" />
        <icon src="res/icon/ios/icon-20@2x.png" width="40" height="40" />
        <icon src="res/icon/ios/icon-20@3x.png" width="60" height="60" />
        <icon src="res/icon/ios/icon-24@2x.png" width="48" height="48" />
        <icon src="res/icon/ios/icon-27.5@2x.png" width="55" height="55" />
        <icon src="res/icon/ios/icon-29.png" width="29" height="29" />
        <icon src="res/icon/ios/icon-29@2x.png" width="58" height="58" />
        <icon src="res/icon/ios/icon-29@3x.png" width="87" height="87" />
        <icon src="res/icon/ios/icon-40.png" width="40" height="40" />
        <icon src="res/icon/ios/icon-40@2x.png" width="80" height="80" />
        <icon src="res/icon/ios/icon-44@2x.png" width="88" height="88" />
        <icon src="res/icon/ios/icon-50.png" width="50" height="50" />
        <icon src="res/icon/ios/icon-50@2x.png" width="100" height="100" />
        <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120" />
        <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180" />
        <icon src="res/icon/ios/icon-72.png" width="72" height="72" />
        <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144" />
        <icon src="res/icon/ios/icon-76.png" width="76" height="76" />
        <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152" />
        <icon src="res/icon/ios/icon-83.5@2x.png" width="167" height="167" />
        <icon src="res/icon/ios/icon-86@2x.png" width="172" height="172" />
        <icon src="res/icon/ios/icon-98@2x.png" width="196" height="196" />
        <icon src="res/icon/ios/icon-1024.png" width="1024" height="1024" />
        <icon src="res/icon/ios/icon-1024.png"/>
    </platform>
</widget>
