* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    width: 100%;
    height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#000000 !important;
    font-family: Arial, Helvetica;
    font-size:.8em;
    min-height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    color:white;
}

.color-gradient{
    background: rgb(144,64,153) !important;
    background: linear-gradient(343deg, rgba(144,64,153,1) 0%, rgba(97,85,163,1) 62%, rgba(52,139,201,1) 100%) !important;
}

.mono-gradient{
    background: rgb(27,28,29) !important;
    background: linear-gradient(90deg,rgba(54,56,57,1) 10%, rgba(27,28,29,1) 100%) !important;
}

.inverted
{
    background-color: black !important;
    color: white !important;
}

.router-link{
    text-decoration: none !important;
    color: white !important;
}

.button-light{
    color: white !important;
    background: rgb(144,64,153) !important;
    background: linear-gradient(343deg, rgba(144,64,153,1) 0%, rgba(97,85,163,1) 62%, rgba(52,139,201,1) 100%) !important;
}

.button-dark{
    color: black !important;
    background: rgb(144,64,153) !important;
    background: linear-gradient(343deg, rgba(144,64,153,1) 0%, rgba(97,85,163,1) 62%, rgba(52,139,201,1) 100%) !important;
}

.ui.card{
    background-color: #000000 !important;
}